:host {
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

input[type="checkbox"]:checked {
    background-color: var(--cafe-primary);
    border-color: var(--cafe-primary);
}

input[type="checkbox"]:focus {
    ring-color: var(--cafe-primary);
}